<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <VBE>Vanilla Backgrounds Expanded</VBE>
    <VBE.Randomize>Randomize</VBE.Randomize>
    <VBE.Randomize.Desc>Randomize background on game start</VBE.Randomize.Desc>
    <VBE.Cycle>Cycle</VBE.Cycle>
    <VBE.Cycle.Desc>Cycle background occasionally while in game</VBE.Cycle.Desc>
    <VBE.CycleTime>Cycle time:</VBE.CycleTime>
    <VBE.ToggleBackgrounds>Toggle Backgrounds Being Shown -></VBE.ToggleBackgrounds>
    <VBE.SelectBackground>Select Background -></VBE.SelectBackground>
    <VBE.AllowAnimated>Allow Animations</VBE.AllowAnimated>
    <VBE.AllowAnimated.Desc>Allow animated backgrounds to be used.</VBE.AllowAnimated.Desc>
    <VBE.Animated>animated</VBE.Animated>
    <VBE.NoDesc>A cool background</VBE.NoDesc>
    <VBE.OpenBackgrounds>Open Backgrounds Folder</VBE.OpenBackgrounds>
    <VBE.RimThemes>RimThemes Compat</VBE.RimThemes>
    <VBE.RimThemes.Desc>Overwrite RimThemes backgrounds with the ones from this mod.</VBE.RimThemes.Desc>
    <VBE.AllowAll>Enable all</VBE.AllowAll>
    <VBE.DisallowAll>Disable all</VBE.DisallowAll>
    <VBE.BetterLoading>Better Loading Compat</VBE.BetterLoading>
    <VBE.BetterLoading.Desc>Patch better loading to switch control the background of it's display</VBE.BetterLoading.Desc>
    <VBE.BetterLoading.Move>Move progress bar</VBE.BetterLoading.Move>
    <VBE.BetterLoading.Move.Desc>Move the better loading progress bar to the bottom to better show the background image</VBE.BetterLoading.Move.Desc>
    <VBE.AnimatedLoad>Animate on load</VBE.AnimatedLoad>
    <VBE.AnimatedLoad.Desc>Show animations during initial game load. WARNING: In vanilla, these animations will freeze fequently.</VBE.AnimatedLoad.Desc>
    <VBE.OnLoad>Show on load</VBE.OnLoad>
    <VBE.OnLoad.Desc>Show on initial game load. Requires a restart (obviously)</VBE.OnLoad.Desc>
</LanguageData>